@import url("https://fullstack-mooc.github.io/Resources/fonts/comic-neu-font.css");
.reveal {
  /* full comic neu with angular support */
  
  /* 
nav {
  position: fixed !important;
  width: 100%;
  top: -20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav #title {
  font-family: "Bangers";
  font-size: 2em;
}

nav #spacer {
  width: 80px;
}
nav #navbackground {
  z-index: -100;
  width: 100%;
  height: 100px;
  background-color: rgba(0.5,0.5,0.5,0.2);
  width: 1000vw !important;
  position: fixed !important;
  left: -250vw;
  top: -20px;
  height: 100px !important;
}

nav #logo {
  width: 80px;
  height: 80px;
  background: url(https://raw.githubusercontent.com/Fullstack-MOOC/Resources/main/images/fullstack-logo-red.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
*/
}
@font-face {
  font-family: CreatorCreditsBBItalic;
  src: url("https://fullstack-mooc.github.io/Resources/fonts/creatorcredits-bb.italic.otf") format("opentype");
}
.reveal .slides h1,
.reveal .slides h2,
.reveal .slides h3 {
  font-family: "Comic Neue Angular";
  font-weight: bold;
  font-style: italic;
}
.reveal .card {
  border-radius: 25px;
  background: #f4f4f4;
  box-shadow: 6px 6px 20px 2px #c9c9c9 !important;
}
.reveal .card:hover {
  box-shadow: 12px 12px 40px 2px #c9c9c9 !important;
}
.reveal iframe {
  border-radius: 12px !important;
  /*box-shadow:  6px 6px 20px 2px #c9c9c9;*/
}
.reveal [data-code-frame],
.reveal [data-block-type=image] div:not(.plain) {
  border-radius: 12px !important;
  box-shadow: 6px 6px 20px 2px #c9c9c9;
}
.reveal [data-code-frame]:hover,
.reveal [data-block-type=image] div:not(.plain):hover {
  box-shadow: 12px 12px 40px 2px #c9c9c9;
}
.reveal #header-title {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: #f4f4f4;
  box-shadow: 6px 6px 20px 2px #d9d9d9 !important;
}
.reveal #header-title .left {
  display: flex;
}
.reveal #header-title:hover {
  box-shadow: 12px 12px 40px 2px #c9c9c9 !important;
}
.reveal #header-title .title {
  font-family: "Comic Neue Angular";
  font-weight: bold;
  font-style: italic;
  font-size: 1.25em;
  transform: translateY(8px);
  /* for some reason line-height and vertical-align didn't work */
}
.reveal #header-title .spacer {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background: url(https://fullstack-mooc.github.io/Resources/images/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  /* funky code from https://codepen.io/sosuke/pen/Pjoqqp to lighten to grey */
  filter: invert(71%) sepia(13%) saturate(1%) hue-rotate(314deg) brightness(91%) contrast(85%);
}
.reveal #header-title .logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background: url(https://fullstack-mooc.github.io/Resources/images/fullstack-logo-red-mini.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.reveal .tim #header-title .logo {
  background: url(https://fullstack-mooc.github.io/Resources/images/fullstack-logo-green-mini.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.reveal .ijemma #header-title .logo {
  background: url(https://fullstack-mooc.github.io/Resources/images/fullstack-logo-red-mini.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.reveal #box-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  border-radius: 75px;
  background: #f4f4f4;
  box-shadow: 6px 6px 20px 2px #c9c9c9 !important;
}
.reveal #box-title .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.reveal #box-title:hover {
  box-shadow: 12px 12px 40px 2px #c9c9c9 !important;
}
.reveal #box-title .title {
  font-family: "Comic Neue Angular";
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  transform: translateY(20px);
  /* for some reason line-height and vertical-align didn't work */
}
.reveal #box-title .logo-spacer {
  width: 100px;
  height: 25px;
}
.reveal #box-title .body {
  margin: 25px;
  font-size: 1.25em;
}
.reveal #box-title .logo {
  width: 100px;
  height: 100px;
  background: url(https://fullstack-mooc.github.io/Resources/images/fullstack-logo-red.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.reveal .tim #box-title .logo {
  background: url(https://fullstack-mooc.github.io/Resources/images/fullstack-logo-green.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.reveal .ijemma #box-title .logo {
  background: url(https://fullstack-mooc.github.io/Resources/images/fullstack-logo-red.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.reveal #border {
  width: 100vw;
  height: 100vh;
  background: #f4f4f4 !important;
  box-shadow: inset 0px 0px 40px 0px #d4d4d4;
}
.reveal .title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #161616;
  border-radius: 10px;
  font-family: "Comic Neue Angular" !important;
  font-weight: bold;
  font-style: italic;
}
.reveal .title-tim {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #161616;
  border-radius: 10px;
}
.reveal .title-ijemma {
  background-color: #ff7b00;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #161616;
  border-radius: 10px;
}
.reveal .slides {
  color: #222222;
  font-family: "Open Sans";
}